




.saiko {
  position: relative;
}



input:-webkit-autofill {
-webkit-box-shadow:0 0 0 50px rgb(21, 25, 43) inset; /* Change the color to your own background color */
-webkit-text-fill-color: #fff;
}


input.no-autofill-bkg:-webkit-autofill {
-webkit-background-clip: text;
}
.submitclass {
background: transparent;
border: none;
padding: 0;
font-size: 18px;
color: white;

}

/* classify */
.class-box  h5 , .class-box h3 , .class-box h4 {
color: #f1f1f1;
}
.class-box  h5 {
padding: 0;
margin: 0;
}

#containerh2 {

display: inline;
font-size: 20px;


}
#containersa {
  padding: 10px;
  margin: auto;
  width: fit-content;
  border-radius: 20px;
  
  background-color: gold;
text-align: center;
}

.class-box a {
margin-top: 10px;
text-align: center;
display: block;


}
.class-box button {
padding: 10px 20px;
border: none;
border-radius: 10px;
background: #0094D9;
color: #15192b;

}


#result {
z-index: 10999901;

/* position: absolute; */
width: 90%;
max-width:870px;
cursor: pointer;
margin: auto;
overflow-y: auto;
max-height: 400px;
box-sizing: border-box;

}
.link-class:hover{
background-color:#f1f1f1;
}

.appointment-box , .class-box {
    margin: auto;
  
  width:80%;
  padding: 40px;
 
  background: #15192B;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin-bottom: 20px;
}

.appointment-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.appointment-box .user-box {
  position: relative;
}

.appointment-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.appointment-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.appointment-box .user-box input:focus ~ label,
.appointment-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.appointment-box form .motion {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.appointment-box .motion:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.appointment-box .motion span {
  position: absolute;
  display: block;
}

.appointment-box .motion span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.appointment-box .motion span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.appointment-box .motion span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.appointment-box .motion span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/* icon */
.saiko-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  max-width: 200px;

}
.saiko-icon {
  display: block;
  margin: auto;
}


/* faq */

a:hover, a:focus{
  text-decoration: none !important;
  outline: none !important;
  
}
.panel-group .panel{
  background-color: #fff;
  border:none;
  box-shadow:none;
  border-radius: 10px;
  margin-bottom:11px;
}
.panel .panel-heading{
  padding: 0;
  border-radius:10px;
  border: none;
}
.panel-heading a{
border-radius: 20px;
color: #15192b !important;
display: block;
border: none;
padding: 20px 35px 20px;
font-size: 17px;
background-color: #f8f9fa;
font-weight: 400;
position: relative;
color: #fff;

transition: all 0.1s ease 0;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
  content: "\f068";
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  left:-20px;
  top: 10px;
  color: #26b9ff !important;
  background-color: #15192b;
  border: 5px solid #15192b;
  font-size: 15px;
  width: 40px;
  height:40px;
  line-height: 30px;
  border-radius: 50%;
  transition:all 0.3s ease 0s;
  box-shadow: rgba(30, 116, 138, 0.12) 0px 1px 3px, rgba(58, 188, 211, 0.24) 0px 1px 2px;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
  transform:rotate(360deg);
}
.panel-heading a.collapsed:after{
  content: "\f067";
}
#accordion .panel-body p{
color: #15192b;

}
#accordion .panel-body{
border-radius: 20px;
  background-color:#fbf8f8;
  color:#15192b;
  line-height: 25px;
  padding: 10px 25px 20px 35px ;
  border-top:none;
  font-size:14px;
  position: relative;
}
hr {

width: 50%;; 
}

@media (max-width: 991px) {
.appointment-box {
  width: 97%;
}
.class-box {
  width: 97%;

}
}


/* dropdown appointment */

select {
margin-bottom: 10px;
text-align: center;
/* Reset Select */
/* appearance: none; */
outline: 0;
border: 0;
box-shadow: none;
/* Personalize */
/* flex: 0.2; */
font-size: 18px;
border-radius: 5px;
padding: 15px;
color: #fff;
background-color:#122C46;
background-image: none;
cursor: pointer;

}
/* Remove IE arrow */
/* select::-ms-expand {
display: none;
} */
/* Custom Select wrapper */
.select {
position: relative;
display: flex;
/* width: 20em;
height: 3em; */
border-radius: .25em;
overflow: hidden;
}

/* Other styles*/


.flex-saiko{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
flex-direction: column;
}


/* whats app */


.whatsnline a:link,
.whatsnline a:visited {
color: rgb(34, 34, 34);
text-decoration: none;
transition: all 0.4s ease-in-out;
}

.whatsnline h1 {
font-size: 20px;
text-align: center;
display: block;
background: linear-gradient(to right top, #6f96f3, #164ed2);
padding: 20px;
color: #fff;
border-radius: 50px;
}

/* CSS Multiple Whatsapp Chat */
.whatsapp-name {
font-size: 16px;
font-weight: 600;
padding-bottom: 0;
margin-bottom: 0;
line-height: 0.5;
}

#whatsapp-chat {
box-sizing: border-box !important;
outline: none !important;
position: fixed;
width: 350px;
border-radius: 10px;
box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
bottom: 90px;
right: 30px;
overflow: hidden;
z-index: 99;
animation-name: showchat;
animation-duration: 1s;
transform: scale(1);
}

a.blantershow-chat {
/*   background: #009688; */
background: #fff;
color: #404040;
position: fixed;
display: flex;
font-weight: 400;
justify-content: space-between;
z-index: 98;
bottom: 25px;
right: 30px;
font-size: 15px;
padding: 10px 20px;
border-radius: 30px;
box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

a.blantershow-chat svg {
transform: scale(1.2);
margin: 0 10px 0 0;
}

.header-chat {
/*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
background: #009688;
background: #095e54;
color: #fff;
padding: 20px;
}

.header-chat h3 {
margin: 0 0 10px;
}

.header-chat p {
font-size: 14px;
line-height: 1.7;
margin: 0;
}

.info-avatar {
position: relative;
}

.info-avatar img {
border-radius: 100%;
width: 50px;
float: left;
margin: 0 10px 0 0;
}

a.informasi {
padding: 20px;
display: block;
overflow: hidden;
animation-name: showhide;
animation-duration: 0.5s;
}

a.informasi:hover {
background: #f1f1f1;
}

.info-chat span {
display: block;
}

#get-label,
span.chat-label {
font-size: 12px;
color: #888;
}

#get-nama,
span.chat-nama {
margin: 5px 0 0;
font-size: 15px;
font-weight: 700;
color: #222;
}

#get-label,
#get-nama {
color: #fff;
}

span.my-number {
display: none;
}

/* .blanter-msg {
color: #444;
padding: 20px;
font-size: 12.5px;
text-align: center;
border-top: 1px solid #ddd;
} */
textarea#chat-input {
border: none;
font-family: "Arial", sans-serif;
width: 100%;
/* height: 20px; */
outline: none;
resize: none;
padding: 10px;
line-height: 1;
font-size: 14px;
}

a#send-it {
width: 30px;
font-weight: 700;
padding: 10px 10px ;
background: #eee;
box-sizing: content-box;
border-radius: 10px;
}
a#send-it svg {

width: 100%;
text-align: center;
margin: auto;
fill: #a6a6a6;
height: 24px;
width: 24px;
}

.first-msg {
background: transparent;
padding: 30px;
text-align: center;
}
.first-msg span {
background: #e2e2e2;
color: #333;
font-size: 14.2px;
line-height: 1.7;
border-radius: 10px;
padding: 15px 20px;
display: inline-block;
}

.start-chat .blanter-msg {
display: flex;
}

#get-number {
display: none;
}

a.close-chat {
position: absolute;
top: 5px;
right: 15px;
color: #fff;
font-size: 30px;
}

@keyframes ZpjSY {
0% {
  background-color: #b6b5ba;
}
15% {
  background-color: #111111;
}
25% {
  background-color: #b6b5ba;
}
}
@keyframes hPhMsj {
15% {
  background-color: #b6b5ba;
}
25% {
  background-color: #111111;
}
35% {
  background-color: #b6b5ba;
}
}
@keyframes iUMejp {
25% {
  background-color: #b6b5ba;
}
35% {
  background-color: #111111;
}
45% {
  background-color: #b6b5ba;
}
}
@keyframes showhide {
from {
  transform: scale(0.5);
  opacity: 0;
}
}
@keyframes showchat {
from {
  transform: scale(0);
  opacity: 0;
}
}
@media screen and (max-width: 480px) {
#whatsapp-chat {
  width: auto;
  left: 5%;
  right: 5%;
  font-size: 80%;
}
}
.hide {
display: none;
animation-name: showhide;
animation-duration: 0.5s;
transform: scale(1);
opacity: 1;
}

.show {
display: block;
animation-name: showhide;
animation-duration: 0.5s;
transform: scale(1);
opacity: 1;
}

.whatsapp-message-container {
display: flex;
z-index: 1;
}

.whatsapp-message {
padding: 7px 14px 6px;
background-color: white;
border-radius: 0px 8px 8px;
position: relative;
transition: all 0.3s ease 0s;
opacity: 0;
transform-origin: center top 0px;
z-index: 2;
box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
margin-top: 4px;
margin-left: -54px;
max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
padding: 20px 20px 20px 10px;
background-color: #e6ddd4;
position: relative;
}
.whatsapp-chat-body::before {
display: block;
position: absolute;
content: "";
left: 0px;
top: 0px;
height: 100%;
width: 100%;
z-index: 0;
opacity: 0.08;
background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
}

.dAbFpq {
display: flex;
z-index: 1;
}

.eJJEeC {
background-color: white;
width: 52.5px;
height: 32px;
border-radius: 16px;
display: flex;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
margin-left: 10px;
opacity: 0;
transition: all 0.1s ease 0s;
z-index: 1;
box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
position: relative;
display: flex;
}

.ixsrax {
height: 5px;
width: 5px;
margin: 0px 2px;
border-radius: 50%;
display: inline-block;
position: relative;
animation-duration: 1.2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
top: 0px;
background-color: #9e9da2;
animation-name: ZpjSY;
}

.dRvxoz {
height: 5px;
width: 5px;
margin: 0px 2px;
background-color: #b6b5ba;
border-radius: 50%;
display: inline-block;
position: relative;
animation-duration: 1.2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
top: 0px;
animation-name: hPhMsj;
}

.kAZgZq {
padding: 7px 14px 6px;
background-color: white;
border-radius: 0px 8px 8px;
position: relative;
transition: all 0.3s ease 0s;
opacity: 0;
transform-origin: center top 0px;
z-index: 2;
box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
margin-top: 4px;
margin-left: -54px;
max-width: calc(100% - 66px);
}
.kAZgZq::before {
position: absolute;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
content: "";
top: 0px;
left: -12px;
width: 12px;
height: 19px;
}

.bMIBDo {
font-size: 13px;
font-weight: 700;
line-height: 18px;
color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
font-size: 14px;
line-height: 19px;
margin-top: 4px;
color: #111111;
}

.iSpIQi {
font-size: 14px;
line-height: 19px;
margin-top: 4px;
color: #111111;
}

.cqCDVm {
text-align: right;
margin-top: 4px;
font-size: 12px;
line-height: 16px;
color: rgba(17, 17, 17, 0.5);
margin-right: -8px;
margin-bottom: -4px;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
left: 15px;
bottom: 15px;
z-index: 996;
background: #3fbbc0;
width: 40px;
height: 40px;
border-radius: 4px;
transition: all 0.4s;
}
.back-to-top i {
font-size: 28px;
color: #fff;
line-height: 0;
}
.back-to-top:hover {
background: #5ec6ca;
color: #fff;
}
.whatsnline.active {
visibility: visible;
opacity: 1;
}


.sa-right{
text-align: right;
direction: rtl;

}
.sa-right2{
color: #15192B;
font-size: 18px;
text-align: right;
direction: rtl;

}

.sa-right .user-box label{
padding-right: 0;
right: 0;

}

.makeDisappear{
  display: none;

}